In [5]:
def say_hello():
    print("Hello")
    print("how")
    print("are")
    print("you?")

In [6]:
say_hello()

Hello
how
are
you?

In [7]:
say_hello

In [18]:
def say_hello(name: str = "Jhon Do") -> str:
    print(f'Hello {name}')

In [19]:
say_hello('Harry')

Hello Harry

In [20]:
say_hello()

Hello Jhon Do

In [34]:
def add_num(num1:int = 1, num2: int = 2) -> int :
    return num1+num2

In [35]:
add_num(12,12)

24

In [36]:
add_num()

3

In [37]:
result = add_num(21, 21)

In [38]:
result

42

In [39]:
def print_result(a, b):
    print(a+b)

In [40]:
def return_result(a, b):
    return(a+b)

In [41]:
print_result(11,22) # No out cell

33

In [42]:
result = print_result(11,22)

33

In [43]:
result

In [44]:
type(result)

NoneType

In [45]:
return_result(10,20)

30

In [46]:
result = return_result(11,22)

In [47]:
result

33

In [48]:
def myfunc(a, b):
    print(a+b)
    return(a+b)# return will stop code execution and must be in the end

In [49]:
result = myfunc(11,22)

33

In [50]:
def sum_numbers(n1,n2):
    return n1+n2

In [51]:
sum_numbers(11,22)

33

In [52]:
sum_numbers('Dean', 'Sam')

'DeanSam'

In [53]:
2 % 2

0

In [54]:
3 % 2

1

In [55]:
20 % 2 == 0

True

In [56]:
21 % 2 == 0

False

In [57]:
def even_check(number: int = 0) -> int:
    return number % 2 == 0

In [58]:
even_check(20)

True

In [59]:
even_check(11)

False

In [72]:
# Return true if any num is even inside a list
import typing

def check_even_list(num_list: list[int]) -> bool:
    for n in num_list:
        if n % 2 == 0:
            return True
        else:
            #return False - is wrong!
            pass
    return False

In [67]:
check_even_list([1,3,5])

In [68]:
check_even_list([2,4,6])

True

In [69]:
check_even_list(['one','2','3'])

TypeError: not all arguments converted during string formatting

In [70]:
check_even_list([2,1,1,1,1])

True

In [71]:
check_even_list([1,1,1,1,1,2])

True

In [73]:
check_even_list([1,3,5,7,9])

False

In [86]:
# Return true if any num is even inside a list
import typing

# Return all the even numbers in a list

def check_even_list(num_list: list[int]) -> bool:
    even_numbers = [] 
    
    for n in num_list:
        if n % 2 == 0:
            even_numbers.append(n)
        else:
            pass
    return even_numbers

In [87]:
check_even_list([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [88]:
check_even_list([1,3,5])

[]

In [89]:
stock_prices = [('Apple', 200), ('Google', 150), ('Microsoft', 50)]

In [91]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 150)
('Microsoft', 50)

In [93]:
for ticker, price in stock_prices:
    print(ticker)

Apple
Google
Microsoft

In [94]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
165.0
55.0

In [95]:
work_hours = [('Abby', 100), ('Billy', 400), ('Cassie', 800)]

In [96]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    return(employee_of_month, current_max)